.outer {
  clear: both;
  top: 5vh;
  text-align: center;
  position: relative;
  border-color: #9A9A9A;
  height: 600px;
  width: 350px;
  flex-direction: column;
  border: 1px solid #9A9A9A;
  box-align: center;
  margin: auto;
  border-radius: 15px;
  display: flex;
}

.upperdiv {
  background-color:#101D42;
  color:white;
  border-radius: 15px;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

input {
  border: 1px solid #9A9A9A;
  border-radius:1em;
  padding: 1em;
  width: 80%;
}

.button {
  display: flex;
  justify-content: space-evenly;
}


.purchase {
  border-radius: 20px;
  width: 30%;
  color: white;
  background-color: blue;
  border-color: blue;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12;
}