* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border: 10px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.row {
  display: flex;
}

.showcase {
  display: flex;
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}
.showcase li {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.container{
    perspective: 1000px;
    margin-bottom: 30px;
}

p.text{
    letter-spacing: 1px;
}
p.text span {
    color:#6feaf6;
    font-size: 1.1em;
    margin: 5px 0;
}
