body  {
    background-image:url("cross.png");
    background-color:#DCF5f5;
}

i {
    color: #BFCFD4;
    text-align: center;
}


#content {
    background-color:white;
    font-family: "Noto Serif", serif;
    border-radius: 8px;
    border: 1px solid darkgrey;
}

#divOuter {
    background-color:blue;
    border:1px solid red;
}

#divInner {
    background-color:yellow;
    border: 1px solid red;
    margin: 10px 20px 10px 20px;
    padding: 12px;
    text-align: right;
    width: 700px;
    height:174px;
}

#divOuter2 {
    background-color:blue;
    border:1px solid red;
    margin-top: 20px;
}

#divInner2 {
    border: 1px solid red;
    background-color: yellow;
    text-align: right;
    height: 376px;
    width: 376px;
    margin: auto;
}

hr {
    color:#CFDFE4;
    border-color:#CFDFE4;
    background-color:#CFDFE4;
}

#divRed {
    border-radius: 1px;
    border-style: solid;
    border-color: red;
}

#divBlue {
    border-radius: 1px;
    border-style: solid;
    border-color: blue;
}

#divRed8x {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-style: solid;
    border-bottom: hidden;
    border-color: red;
}

#divBlue8x {
    border-radius: 1px 1px 8px 8px;
    border-style: outset;
    border-color: blue;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-outline{
    outline:1px solid red;
}

.blue {
    color:blue;
}

.fancy {
    font-family: cursive;
}

h1 {
    font-family: "Raleway", sans-serif;
    background-color:white;
}

h2 {
    font-family: "Raleway", sans-serif;
    text-align:left;
}

h3 {
    color:darkblue;opacity:0.8;
}

h4 {
    font-family: Raleway;
    font-style: italic;
    text-decoration:underline;
    font-weight: normal;
}

pre {
    font-family: Raleway;
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}

.transparent-text {
    font-family: monospace;
    color:rgba(0,0,0,0.5);
}

a:link {
    color:darkgreen;
}

del {
    color:grey;
}

mark {
    color:darkblue;
    background:pink;
}

p {
    font-family: "Noto Serif", serif;
}