body  {
    background-image:url("cross.png");
    background-color:#DCF5f5;
}

.content {
    background-color:white;
}

.blue {
    color:blue;
}

.fancy {
    font-family: cursive;
}

h1 {
    font-family: sans-serif;
    background-color:white;
}

h2 {
    font-family: sans-serif;
    text-align:left;
}

h3 {
    color:darkblue;opacity:0.8;
}

pre {
    font-family: monospace;
}

.transparent-text {
    font-family: monospace;
    color:rgba(0,0,0,0.5);
}

a:link {
    color:darkgreen;
}

del {
    color:grey;
}

mark {
    color:darkblue;
    background:pink;
}

p {
    font-family: serif;
}